body {
    font-family: 'Raleway', sans-serif;
    background-color: #f2f3f4;
    color: black;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

#list {
    display: inline-block;
    height: 150px;
    width: 100px;
    background-color: #7eacf7;
    align-content: center;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}

nav {
    display: block;
    text-transform: capitalize;
    width: auto;
    height: 22px;
    align-content: center;
    text-align: center;
}

#name-border {
    border: 3px solid #7eacf7;
    border-width: medium;
    margin: auto;
    width: 27%;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}


